# Run Kepler in Windows -  Jupyter notebook

### Setup Jupyter to run kepler

###### Solve: ModuleNotFoundError: No module named 'keplergl'
Resources: 
https://stackoverflow.com/questions/50876702/cant-install-fiona-on-windows
https://stackoverflow.com/questions/50876702/cant-install-fiona-on-windows

Downloads 	https://www.lfd.uci.edu/~gohlke/pythonlibs/#gdal
			https://www.lfd.uci.edu/~gohlke/pythonlibs/#fiona

In Anaconda prompt (install order is a must):

pip install wheel
pip install C:\Users\chandanar\Downloads\Shapely-1.7.0-cp37-cp37m-win_amd64.whl
pip install C:\Users\chandanar\Downloads\GDAL-3.0.4-cp37-cp37m-win_amd64.whl
pip install C:\Users\chandanar\Downloads\Fiona-1.8.13-cp37-cp37m-win_amd64.whl
pip install keplergl

In [7]:
import pandas as pd
from keplergl import KeplerGl
import geopandas as gpd
df = gpd.read_file("NYPD_complaints_2018.csv")
df.head()

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,HOUSING_PSA,...,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,geometry
0,934816150,75,BROOKLYN,10/18/2018,0:01:00,4/15/2019,23:59:00,COMPLETED,,,...,,18-24,UNKNOWN,M,1016007,180956,40.6633104,-73.88553429,"(40.66331040000005, -73.88553428699998)",None
1,809449275,102,QUEENS,11/7/2018,0:01:00,11/13/2018,10:31:00,COMPLETED,,,...,,45-64,UNKNOWN,F,1026216,190661,40.6899059,-73.84867589,"(40.68990589800006, -73.84867588699996)",None
2,143382740,114,QUEENS,12/9/2018,16:00:00,,,COMPLETED,,,...,,65+,WHITE HISPANIC,M,1003198,213252,40.75199194,-73.93161304,"(40.75199194200008, -73.93161304099993)",None
3,288975395,68,BROOKLYN,10/16/2018,2:37:00,2/22/2019,9:38:00,COMPLETED,,,...,,UNKNOWN,UNKNOWN,E,976190,170851,40.63562764,-74.02904141,"(40.635627641000035, -74.02904141099998)",None
4,693294470,52,BRONX,10/1/2018,10:00:00,,,COMPLETED,,,...,,18-24,WHITE HISPANIC,M,1017440,256046,40.86940749,-73.87999831,"(40.86940749200004, -73.87999831299999)",None

###### Solve: No map rendering issue: https://github.com/keplergl/kepler.gl/issues/583   (Restart Jupyter notebook)

pip install --upgrade jupyterthemes

jupyter nbextension install --py --sys-prefix keplergl

jupyter nbextension enable --py --sys-prefix keplergl

In [8]:
#Create a basemap 
map = KeplerGl(height=600, width=800)
#show the map
map

User Guide: https://github.com/keplergl/kepler.gl/blob/master/docs/keplergl-jupyter/user-guide.md

KeplerGl(height=600)

In [10]:
# Create a gepdataframe
gdf = gpd.GeoDataFrame(df, geometry = gpd.points_from_xy(df.Longitude.astype('float32'), df.Latitude.astype('float32')))

# Add data to Kepler
map.add_data(data=gdf, name="crimes")
map

KeplerGl(config={'version': 'v1', 'config': {'visState': {'filters': [], 'layers': [{'id': '79et4jj', 'type': …