In [17]:
import pandas as pd
from keplergl import KeplerGl
import geopandas as gpd
df = gpd.read_file("D:\\data\\MSC-2020\\Semester-1\\BigData\\kepler\\NYPD_Complaint_Data_Current__Year_To_Date_.csv")
df.head()

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,HOUSING_PSA,...,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,geometry
0,314773184,48,BRONX,12/31/2019,18:00:00,,,COMPLETED,,,...,,45-64,WHITE HISPANIC,F,1016990,244612,40.838026269000075,-73.88168118799997,"(40.838026269000075, -73.88168118799997)",None
1,289837961,25,MANHATTAN,12/30/2019,20:30:00,12/31/2019,10:00:00,COMPLETED,,,...,,25-44,WHITE HISPANIC,F,999296,230862,40.800334261000046,-73.94565697199994,"(40.800334261000046, -73.94565697199994)",None
2,535744284,77,BROOKLYN,12/24/2019,16:55:00,12/24/2019,17:00:00,COMPLETED,,,...,,18-24,WHITE,M,1001068,183317,40.66983179600004,-73.93937555099996,"(40.66983179600004, -73.93937555099996)",None
3,895678119,52,BRONX,12/30/2019,19:32:00,,,COMPLETED,,,...,,UNKNOWN,UNKNOWN,D,1009690,257590,40.87367103500002,-73.90801364899994,"(40.87367103500002, -73.90801364899994)",None
4,299841674,18,MANHATTAN,12/30/2019,15:30:00,12/30/2019,16:50:00,COMPLETED,,,...,,25-44,WHITE HISPANIC,M,985766,216503,40.76093528000007,-73.99452906599998,"(40.76093528000007, -73.99452906599998)",None

In [41]:
#Create a basemap 
map = KeplerGl(height=600, width=800)
#show the map
map

User Guide: https://github.com/keplergl/kepler.gl/blob/master/docs/keplergl-jupyter/user-guide.md

KeplerGl(height=600)

In [31]:
# Create a gepdataframe
#gdf = gpd.GeoDataFrame(df, geometry=gpd.points_from_xy(df.Longitude, df.Latitude))
gdf = gpd.GeoDataFrame(df, geometry = gpd.points_from_xy(df.Longitude.astype('float32'), df.Latitude.astype('float32')))

# Add data to Kepler
map.add_data(data=gdf, name="crimes")

In [37]:
map

KeplerGl(height=600)

In [25]:
print(gdf.head())

NameError: name 'gdf' is not defined

In [26]:
print(df.head())

  CMPLNT_NUM ADDR_PCT_CD    BORO_NM CMPLNT_FR_DT CMPLNT_FR_TM CMPLNT_TO_DT  \
0  314773184          48      BRONX   12/31/2019     18:00:00
1  289837961          25  MANHATTAN   12/30/2019     20:30:00   12/31/2019
2  535744284          77   BROOKLYN   12/24/2019     16:55:00   12/24/2019
3  895678119          52      BRONX   12/30/2019     19:32:00
4  299841674          18  MANHATTAN   12/30/2019     15:30:00   12/30/2019

  CMPLNT_TO_TM CRM_ATPT_CPTD_CD HADEVELOPT HOUSING_PSA  ... TRANSIT_DISTRICT  \
0                     COMPLETED                         ...
1     10:00:00        COMPLETED                         ...
2     17:00:00        COMPLETED                         ...
3                     COMPLETED                         ...
4     16:50:00        COMPLETED                         ...

  VIC_AGE_GROUP        VIC_RACE VIC_SEX X_COORD_CD Y_COORD_CD  \
0         45-64  WHITE HISPANIC       F    1016990     244612
1         25-44  WHITE HISPANIC       F     999296     230862
2         18-24           WHITE       M    1001068     183317
3       UNKNOWN         UNKNOWN       D    1009690     257590
4         25-44  WHITE HISPANIC       M     985766     216503

             Latitude           Longitude  \
0  40.838026269000075  -73.88168118799997
1  40.800334261000046  -73.94565697199994
2   40.66983179600004  -73.93937555099996
3   40.87367103500002  -73.90801364899994
4   40.76093528000007  -73.99452906599998

                                    Lat_Lon geometry
0  (40.838026269000075, -73.88168118799997)     None
1  (40.800334261000046, -73.94565697199994)     None
2   (40.66983179600004, -73.93937555099996)     None
3   (40.87367103500002, -73.90801364899994)     None
4   (40.76093528000007, -73.99452906599998)     None

[5 rows x 36 columns]

In [46]:
from keplergl import KeplerGl
map_1 = KeplerGl()
map_1

User Guide: https://github.com/keplergl/kepler.gl/blob/master/docs/keplergl-jupyter/user-guide.md

KeplerGl()